In [14]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("./data/ResalePricesSingapore.csv")
df

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price
0,2014-01,ANG MO KIO,2 ROOM,510,ANG MO KIO AVE 8,07 TO 09,44.0,Improved,1980,280000.0
1,2014-01,ANG MO KIO,3 ROOM,603,ANG MO KIO AVE 5,07 TO 09,67.0,New Generation,1980,290000.0
2,2014-01,ANG MO KIO,3 ROOM,476,ANG MO KIO AVE 10,04 TO 06,67.0,New Generation,1979,300000.0
3,2014-01,ANG MO KIO,3 ROOM,558,ANG MO KIO AVE 10,01 TO 03,67.0,New Generation,1980,315000.0
4,2014-01,ANG MO KIO,3 ROOM,605,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,318000.0
...,...,...,...,...,...,...,...,...,...,...
222828,2024-01,YISHUN,5 ROOM,213,YISHUN ST 21,04 TO 06,121.0,Improved,1985,615000.0
222829,2024-01,YISHUN,5 ROOM,505C,YISHUN ST 51,04 TO 06,112.0,Improved,2016,640000.0
222830,2024-01,YISHUN,5 ROOM,513C,YISHUN ST 51,07 TO 09,113.0,Improved,2018,675000.0
222831,2024-01,YISHUN,5 ROOM,602,YISHUN ST 61,07 TO 09,121.0,Improved,1987,688000.0
222832,2024-01,YISHUN,EXECUTIVE,356,YISHUN RING RD,04 TO 06,146.0,Maisonette,1988,860000.0

In [15]:
df['group'] = np.arange(len(df)) // 1000

In [20]:
df.groupby(['group'])['resale_price'].max()[:20]

group
0      980000.0
1      888000.0
2      876000.0
3      980000.0
4      898000.0
5      980000.0
6      920000.0
7      950000.0
8      925000.0
9      960000.0
10     900000.0
11     900000.0
12    1088888.0
13     980000.0
14    1000000.0
15     910000.0
16     980000.0
17    1040000.0
18    1018000.0
19    1060000.0
Name: resale_price, dtype: float64

In [19]:
df.groupby(['group'])['resale_price'].min()[:20]

group
0     235000.0
1     233000.0
2     240000.0
3     242000.0
4     244000.0
5     235000.0
6     234000.0
7     210000.0
8     230000.0
9     247000.0
10    210000.0
11    240000.0
12    195000.0
13    210000.0
14    228000.0
15    200000.0
16    210000.0
17    220000.0
18    210000.0
19    220000.0
Name: resale_price, dtype: float64